body{
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #414141;
  box-sizing: border-box;
  background: #94d0cc; 

}
* {
  animation: fadeInAnimation ease .7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
button{
  background: #fff;
  border: 1px solid #4a726f;
  float: left;
  color:#414141;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  transition: all 0.4s ease-in; 
  width: 70px;
}
.ticbox{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;

}
.ticrow{
  display: flex;
  justify-content: center;
}
.restart{
  width: 200px;
  height: 50px;
  margin-top: 80px;
  font-size: 20px;
  border: 1px solid #4a726f;
  background-color: #d1d9d9;
}
.restart:hover{
  background-color: #414141;
  color: #fff; 
  transition: all 0.5s; 
}

